/* Mor.pho.GEN.e.sis version 1.1.2 by kris (http://www.xoofoo.org and http://www.frxoops.org) ) */
/* file name : style.css (version 1.2) - 28 janvier 2009 */
/*Thème :  Xoops City Design by SabOUm  (http://www.saboum.com) */

/*========== listes dans les colonnes ==========*/
.xo-canvas-column ul {
	list-style-type:				none;
	padding:						.5em;
	margin:							0;
	border: 0 !important;
	color: 							#FFF;
	background:						transparent;
}
.xo-canvas-column ul ul {
	padding-top:				0;
	padding-bottom:				0;
	padding-left:				1em;
	color: 							#FFF;
	background:						transparent;

}
/* ====== format des cellules dans les colonnes ========*/
.xo-canvas-column .outer, .xo-canvas-column .outer td {
	border:							0 none;
	color: 							#FFF;
background:						transparent;
}
.xo-canvas-column .outer, .xo-canvas-column .outer img {
	border: 							0 !important;
	padding:							0;
	margin:							0;
	background:						transparent;
}
/*===== Styles Colonne de Gauche =======*/
#xo-canvas-leftcolumn .xo-block {
    width:	145px;
	padding-top:					0px;
	margin-right:					0px;
	margin-bottom:					0px;
	color:							#FFF;		
	background-color: 			transparent;
		border: 0 !important;
}
#xo-canvas-leftcolumn .xo-blocktitle {
	padding-left:					0px;
	padding-bottom:				0px;
	color:							#648EFF;
	text-decoration:				underline;
	background-color: 			inherit; 
	background-position: 		bottom;
	font-family:					"Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-size:						1.2em;
	font-weight:					bold;
	text-align:						center;
}
#xo-canvas-leftcolumn .xo-blocktitle:first-letter {
	font-size:						1.2em;
	color:							#FFFFFF;
}	
#xo-canvas-leftcolumn .xo-blockcontent {
	min-height:						10px;
	padding: 						2px 8px 8px 0;
	color:							#FFFFFF;
	border: 0 !important;	
	background-color: 			transparent;
}

* html #xo-canvas-leftcolumn .xo-blockcontent { }
#xo-canvas-leftcolumn .xo-blockcontent a {
	color:							#FFFFFF;
	background-color: 			transparent;
	text-decoration: 				none;	border: 0 !important;
}
#xo-canvas-leftcolumn .xo-blockcontent a:hover {
	color:							#FFFF33;
	background-color: 			#2F69B3;
	text-decoration: 				underline;	border: 0 !important;
}
#xo-canvas-leftcolumn img {
	border: 0 !important;
	padding: 						0px;
	margin: 							0px 0px 0 0px;
	background-color: 			transparent;
}
/*======== Styles Colonne de Droite ========*/

#xo-canvas-rightcolumn {
	z-index:							100;
    width:	145px;
	padding-top:					0px;
	margin-right:					0px;
	margin-bottom:					0px;
	color:							#FFFFFF;		
	background-color: 			transparent;	
	background:						url(img/rightcolumn.png)  no-repeat;
	background-position: bottom center;
	
}
#xo-canvas-rightcolumn a {
	color:							#2F69B3;	
	background-color: 			transparent;
	text-decoration:				none;
	border: 0 !important;

}
#xo-canvas-rightcolumn a:hover {
	color:							#FFFF33;
	background-color:				transparent;
	text-decoration:				underline;
	border: 0 !important;
}
#xo-canvas-rightcolumn .xo-blocktitle {
	padding-left:					0px;	
	padding-bottom:				0px;
	color:							#648EFF;
	text-decoration:				underline;
	font-family:					"Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-size:						1.2em;
	font-weight:					bold;
	text-align:						center;
	background-color:				transparent;
}	
#xo-canvas-rightcolumn .xo-blocktitle:first-letter {
	font-size:						1.2em;
	color:							#FFFFFF;
	background-color: 			transparent;	
}
#xo-canvas-rightcolumn .xo-blockcontent {
	min-height:						60px;
	padding:							.5em;
	color:							#FFFFFF;
	background-color: 			transparent;
	text-align : center; 
}

#xo-canvas-rightcolumn img {
	border: 0 !important;
	padding: 						0px;
	margin: 							0px;
	text-align : center; 
	background-color: 			transparent;
}
#xo-canvas-rightcolumn img:hover {border: 0px ;}
/* ======= Styles du "Contenu Centre" ===========*/
#xo-page .xo-blockszone > .xo-block {
	min-height:						0px;
	border:							0px ;
	color:							#FFF;
	background-color: 			transparent;
}
.xo-block ul {
	margin:							0;
	padding:							0;
	list-style-type:				none;
	background-color: 			transparent;
}
#xo-page .xo-blocktitle:first-letter {
	font-size:						1.2em;
	color:							#FFFFFF;
	background-color: 			transparent;
}
#xo-page .xo-blockszone .xo-blocktitle {
	margin:						0;
	padding:							0 ;
	text-align : center; 
	color:							#648EFF;
	background: url(img/center-titre-bg.png) ;   
    background-color: 			transparent;	 
	font-family:					"Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-size:						1.2em;
	font-weight:					bold;
	border-bottom:					0px ;
}
#xo-page .xo-blockszone .xo-blockcontent {
	padding:						0;
	color:							#FFFFFF;
    background-color: 			transparent;
	text-align: 					justify;
}
#xo-page .xo-blockszone .xo-blockcontent img {
	border: 							0px solid #999 !important;
	padding: 						0px;
	margin: 							0px;
	background-color: 			transparent;
}
#xo-page .xo-blockszone .xo-blockcontent img:hover {
	border: 							0px solid #000!important;
	background-color: 			#FFFFFF !important;
}
#xo-page .xo-blockszone .xo-blockcontent a {
	color:							#FFFF33;
	background-color: 			transparent;
	text-decoration:				none;
}
#xo-page .xo-blockszone .xo-blockcontent a:hover {
	color:							#FF0000;
	background-color: 			transparent;
}



